

.root{
    -fx-background-color:white ;
    -fx-font-size: 14px
}
/*#ffd56e,#5a5a5a  */
.toolbar{
    -fx-background-color:#5a5a5a ;
}

.card{
    -fx-background-color: white;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0, 1.5);
}

.green-gradient{
    -fx-background-color: linear-gradient(to top right, #DEDAC3, #1D8EF9);
}

.linear-gradient-red{
    -fx-background-color: linear-gradient(to top right, #ffd56e, #fc6462);
}


.blue-gradient{
    -fx-background-color:linear-gradient(to top right, #43BDFB, #3352AC);
}

/* 5a5a5a; */
.btn-Login{
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-background-color: #ffd56e;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}

.btn-Search{
    -fx-background-radius: 35px;
    -fx-border-radius: 35px;
    -fx-background-color: #5a5a5a;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: White;
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
}

.save-button{
    -fx-font-size:15px;
    -fx-background-color: #2196F3;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.edit-button{
    -fx-font-size:15px;
    -fx-background-color: #26A69A;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.delete-button{
    -fx-font-size:15px;
    -fx-background-color: #ff5252;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}


.jfx-hamburger-Icon{
    -fx-spacing: 4px;
}

.jfx-hamburger StackPane{
    -fx-background-color: #ffffff;
    -fx-pref-width: 30px;
    -fx-background-radius: 5px;
}

.side-menu-button{
    -fx-background-color: #5a5a5a;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-pre-width: 50px;
    -fx-pre-height: 50px;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
}

.side-menu-button:hover{
    -fx-background-color: #3ca609;
}

.side-menu-button:default{
    -fx-background-color: #5a5a5a;
}
